* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  background-color: rgb(170, 182, 240);
  height: 100vh;
  width: 100vw;
  padding: 0.5em;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.github-btn {
  background-color: transparent !important;
  border-radius: 0.2em;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #000 !important;
  font-weight: 500 !important;
}

.github-btn img {
  padding: 0 0.2em;
}

.github-btn:hover {
  transition: all 400ms ease-in-out;
  background-color: rgba(255, 255, 255, 0.136) !important;
  box-shadow: 5px 5px 5px #a7b6ff;
}

.github-btn:focus {
  box-shadow: 2px 2px 2px #a7b6ff;
}

.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
}

/* @import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap"); */
.home-main .home-heading {
  font-family: "Yatra One", cursive;
  font-size: 6em;
  cursor: default;
}

.home-main .select-options-div {
  display: flex;
  flex-direction: column;
}

.select-options-div button {
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.6em 1.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: 600;
  margin-bottom: 1em;
  background-color: #ffffffab;
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.select-options-div button:hover {
  background-color: #cfd8ff;
}

.select-options-div button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.select-options-div button img {
  height: 2em;
  margin: 0;
  padding: 0 0.5em 0 0;
}

.footer-main {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  background-color: rgb(38, 38, 38);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  padding: 0.1em 0;
  cursor: default;
}

.footer-main a {
  text-decoration: none;
  color: #fff;
}

.footer-main a:hover {
  transition: all 500ms ease-in-out;
  text-decoration: underline;
  color: rgb(165, 163, 163);
}
